# Storage & Database
chromadb==1.0.20
minio==7.2.15
boto3>=1.38.13
redis>=5.0.0,<6.0.0
langchain-redis==0.2.3

# Data Processing
pandas>=2.2.3
numpy>=1.22.0
pyarrow>=17.0.0
pypdf==5.6.1
tqdm==4.67.1
langchain-docling==1.0.0     
rapidocr-onnxruntime==1.4.4

# LLM & Embeddings
langchain==0.3.26
langchain-core>=0.3.70
langchain-community>=0.3.26
sentence-transformers==2.6.1
huggingface-hub>=0.23 
langchain-chroma==0.2.5

# Utilities
wget==3.2
pydantic>=2.10.0